html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #f0f0f0; 
}

.container {
    width: 300px; 
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

label {
    display: block;
    text-align: left; 
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #1B2653; 
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #FE6613; 
}

p {
    margin: 15px 0;
    text-align: left; 
    font-size: 14px;
    color: #787878; 
}

p a {
    color: #FE6613; 
    text-decoration: none; 
}

p a:hover {
    text-decoration: underline; 
}
