html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0; 
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%; 
    background-color: #1B2653; 
    padding: 15px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
}

.header-content {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    max-width: 1200px; 
    margin: 0 auto; 
    width: 100%; 
}

.logo {
    color: #FE6613; 
    font-size: 24px; 
    margin: 0; 
}

.logout {
    color: white; 
    text-decoration: none; 
    font-size: 16px; 
    padding: 5px 10px; 
}

.logout:hover {
    text-decoration: underline; 
}

.teste-1 {
    width: 600px; 
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
    margin: 20px auto; 
}

h1 {
    color: #1B2653; 
    margin-bottom: 20px; 
}

.teste {
    list-style: none; 
    padding: 0;
}

li {
    margin: 20px 0;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

h2 {
    color: #787878; 
    margin-bottom: 5px;
}

h4 {
    color: #FE6613;
    margin-top: 10px;
}

p {
    color: #333; 
}

.botoes {
    display: flex;
    justify-content: flex-end; 
    margin-top: 10px;
}

button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    margin-left: 10px;
}

.createPost {
    display: inline-block;
    padding: 10px 20px; 
    background-color: #FE6613; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px;
    text-decoration: none; 
    cursor: pointer; 
    margin-bottom: 20px;
    transition: background-color 0.3s ease; 
}

.comentario {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 10px; 
}

.comentario.deleteButton {
    justify-content: flex-end;
}

.deleteButton {
    background-color: #FE6613; 
}

.botaoCurtir {
    background-color: #65B307;
}

.comentarBotao {
    background-color: #86b0ff;
}

.deleteButton:hover {
    background-color: #cc5310; 
}

.editButton {
    background-color: #1B2653; 
}

.editButton:hover {
    background-color: #141c39; 
}

.createPost:hover {
    background-color: #cc5310; 
}

a {
    text-decoration: none;
    color: #FE6613;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
